<div class="jumbotron">
  <h1>Hey There!</h1>
  <p class="lead">
    Welcome to this angular boilerplate!
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/about">Go To About <span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Gulp</h4>
  <p>
  	Gulp is a streaming build system, which uses streams and code-over-configuration for a simpler and more intuitive build.
  </p>

  <h4>Browserify</h4>
  <p>
  	Looking for a client side dependency? Be sure to check NPM first before relying on Bower so you can take advantage of the simple require calls, via Browserify, which reduces code clutter and enables you to write modular, re-usable code.
  </p>

  <h4>Bower</h4>
  <p>
  	Bower provides hooks to facilitate using packages in your tools and workflows.
  </p>
</div>